/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/mpdf_temp
/storage/app/public/pdfs
/storage/app/public/qrcodes
/storage/app/public/receipts
/storage/app/stamps
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
